doctype html
html(lang='es')
	head
		title Jade
		meta(charset='utf-8')
		//bootstrap
		link(rel="stylesheet", href="http://192.168.1.72/plugins/bootstrap-4.0.0-alpha.6-dist/css/bootstrap.min.css")
		link(rel="stylesheet", href="http://192.168.1.72/plugins/bootstrap-4.0.0-alpha.6-dist/css/bootstrap-grid.min.css")
	body
		#container.col
			block contenido